*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-basic-clr: rgb(202, 202, 12);
  --card-premium-clr: #784ebb;
  --card-ultimate-clr: #35c270;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #6179f1;
}

.wrapper {
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper .table {
  background-color: #ffff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.table .prize-section {
  display: flex;
  justify-content: center;
}

.table .prize-area {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}

.prize-area .inner-area {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #ffff;
  line-height: 117px;
  text-align: center;
  color: #ffff;
  position: relative;
}

.prize-area .inner-area .text {
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
}

.prize-area .inner-area .prize {
  font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
}

.table .package-name {
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}

.table .package-name::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background-color: #ffff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}

.table .features li {
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.features li .list-name {
  font-size: 17px;
  font-weight: 400;
}

.features li .icon {
  font-size: 15px;
}

.features li .icon .check {
  color: rgb(13, 214, 57);
}

.features li .icon .cross {
  color: red;
}

.table .button {
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}

.table .button button {
  width: 80%;
  height: 50px;
  color: #ffff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.table button:hover {
  border-radius: 5px;
}

/* Basic card */

.basic .prize-area,
.basic .inner-area {
  background-color: var(--card-basic-clr);
}

.basic .button button {
  border: 2px solid var(--card-basic-clr);
  background-color: #ffff;
  color: var(--card-basic-clr);
}

.basic .package-name {
  background-color: var(--card-basic-clr);
}

.basic .package-name::before {
  content: "Basic";
}

.basic .button button:hover {
  background-color: var(--card-basic-clr);
  color: #ffff;
}

/* premium */

.premium .prize-area,
.premium .inner-area {
  background-color: var(--card-premium-clr);
}

.premium .button button {
  border: 2px solid var(--card-premium-clr);
  background-color: #ffff;
  color: var(--card-premium-clr);
}

.premium .package-name {
  background-color: var(--card-premium-clr);
}

.premium .package-name::before {
  content: "Premium";
}

.premium .button button:hover {
  background-color: var(--card-premium-clr);
  color: #ffff;
}

/* ultimate */

.ultimate .prize-area,
.ultimate .inner-area {
  background-color: var(--card-ultimate-clr);
}

.ultimate .button button {
  border: 2px solid var(--card-ultimate-clr);
  background-color: #ffff;
  color: var(--card-ultimate-clr);
}

.ultimate .package-name {
  background-color: var(--card-ultimate-clr);
}

.ultimate .package-name::before {
  content: "Ultimate";
}

.ultimate .button button:hover {
  background-color: var(--card-ultimate-clr);
  color: #ffff;
}
